.toggle-button {
	-fx-pref-height: 55px !important; 
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 3,3,3,3);
}

.toggle-button.turquoise {
	-fx-background-color: turquoise !important;
}

.toggle-button.yellow {
	-fx-background-color: yellow !important;
}

.toggle-button.green {
	-fx-background-color: #32cd32 !important;
}

.toggle-button.orange {
	-fx-background-color: orange !important;
}

.toggle-button:hover {
	-fx-background-color: green !important;
}

.toggle-button.turquoise:hover {
	-fx-background-color: green !important;
}

.toggle-button.yellow:hover {
	-fx-background-color: green !important;
}

.toggle-button.green:hover {
	-fx-background-color: blue !important;
}

.toggle-button.orange:hover {
	-fx-background-color: green !important;
}
